<header class="header bg-info">
  <div class="row">
    <div class="col-sm-4">
      <h3 class="m-t m-b-none">Preferencias</h3>
      <p class="block text-muted">Modifique la configuracion de la aplicación</p>
    </div>
  </div>
</header>
<div class="vbox">
    <div class="scrollable wrapper">
        <section class="panel">
            <header class="panel-heading">Ingrese los Datos </header>
            <div class="panel-body">
                <%= render 'form' %>
            </div>
        </section>
    </div>
</div>


