<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Saludos, <%= @cliente.nombre %></h1>
    <p>
      Hemos generado una nueva orden de trabajo a partir de su solicitud.
      Por favor, lea la siguiente descripción y confirmela respondiendo este email.

      <ul>
        <li>Descripcion: <%= @trabajo.descripcion %></li>
        <li>Valor: <%= @trabajo.valor %></li>
      </ul>
    </p>

    <p>Ante cualquier duda o reclame contactese a <%= @usuario.email %></p>
  </body>
</html>
