<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_trabajo.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_trabajo_path(@tipo_trabajo) %> |
<%= link_to 'Back', tipo_trabajos_path %>
