<%- model_class = Trabajo -%>
<% content_for :header do %>
    <header class="header bg-light dker bg-gradient">
      <p><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => Trabajo %></p>
    </header>
<% end %>
<%= render :partial => 'form' %>

